
.container p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.container {
  max-width: 56rem !important;
}
