
.container p {
  
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.container {
  max-width: 56rem;
  margin-left: 0;
}

.wrap {
  margin: 0 1rem 0 15rem;
}
